h1 {
	 font-family: Arial, "Times New Roman";
	 font-size: 22px;
	 font-style: consolas;
	 font-weight: 100;
	 text-align: middle;
	 text-decoration: none;
	 letter-spacin: 10px;
	 color: green;
}

a {
	 font-family: Arial, "Times New Roman";
	 font-size: 22px;
	 font-style: consolas;
	 font-weight: 100;
	 text-align: middle;
	 
}

